/* chargement des polices */
/* open sans*/
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-SemiBoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-SemiBoldItalic.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-SemiBold.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-BoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-BoldItalic.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-Regular.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-Bold.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-Bold.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-SemiBold.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/openSans/woff/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/openSans/woff/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-SemiBoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/openSans/woff/OpenSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-SemiBoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-SemiBoldItalic.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-Regular.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/openSans/woff/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-BoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-BoldItalic.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* poppins*/
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/woff2/Poppins-BoldItalic.woff2') format('woff2'),
    url('../fonts/poppins/woff/Poppins-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/woff2/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/poppins/woff/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ----------------------------------------- */
/* variables */
:root {
  /* fonts */
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans Condensed', sans-serif;
  --font-tertiary: 'Open Sans SemiCondensed', sans-serif;
  --font-quaternary: 'Poppins', sans-serif;

  /* variante open sans */
  --font-primary-bold: 'Open Sans', sans-serif;
  --font-primary-italic: 'Open Sans', sans-serif;
  --font-secondary-bold: 'Open Sans Condensed', sans-serif;
  --font-secondary-italic: 'Open Sans Condensed', sans-serif;
  --font-tertiary-bold: 'Open Sans SemiCondensed', sans-serif;
  --font-tertiary-italic: 'Open Sans SemiCondensed', sans-serif;
  /* Variantes de Poppins */
  --font-poppins-bold: 'Poppins', sans-serif;
  --font-poppins-bold-italic: 'Poppins', sans-serif;

  /* colors */
  --color-primary: hsl(322, 100%, 66%);
  --color-secondary: hsl(321, 100%, 78%);
  --color-tertiary: hsl(0, 100%, 63%);
  --color-quaternary: hsl(192, 100%, 9%);
  --color-quinary: hsl(207, 100%, 98%);
}
/* ---------------------------------------------- */
h1,
h2,
h3 {
  font-family: var(--font-poppins-bold);
  font-weight: 700;
  color: var(--color-quaternary);
}

img {
  object-fit: cover;
}

#body {
  margin: 70px;
  font-family: var(--font-primary);
}

.button {
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px 25px;
  cursor: pointer;
  box-shadow: 0px 4px 10px -7px var(--color-quaternary);
}

/*--------------------- header --------------------------*/

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo img {
  width: 240px;
  height: auto;
}

.button--primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: none;
}

.button--primary:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

/*------------------------ main -------------------------*/

/*-------------------- main-content ---------------------*/
.main-content {
  margin-top: 150px;
}

.main-content__title {
  font-size: 38.5px;
  text-align: center;
}

.main-content__description {
  width: 38%;
  margin: 20px auto;
  text-align: center;
}

.button--cta {
  font-weight: 600;
  display: block;
  margin: 40px auto;
  border: none;
  color: white;
  background-color: var(--color-primary);
  border-radius: 50px;
  padding: 20px 80px;
}

.button--cta:hover {
  background-color: var(--color-secondary);
}

.main-content__illustration {
  display: block;
  margin: 0 auto;
  width: 62.5%;
  height: auto;
}
/*----------------------- stats ---------------------------- */
.stats {
  margin: 150px 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.stats__number {
  color: var(--color-quaternary);
  font-weight: 700;
  font-size: 70px;
}

.stats__label {
  color: rgb(116 116 116);
  text-align: center;
}

.stats__item img {
  height: auto;
  width: 35px;
  fill: red;
}

/*----------------------- features ---------------------------- */

.features__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 250px 0;
}

.features__text {
  width: 50%;
  padding: 0px 120px 0px 40px;
  flex: 1;
}

.features__title {
  font-size: 30px;
}

.features__img {
  width: 50%;
  display: flex;
  justify-content: right;
}

.features__img img {
  width: 75%;
  height: auto;
  padding-right: 40px;
}
