/* chargement des polices */
/* open sans*/
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-SemiBoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-SemiBoldItalic.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-SemiBold.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-BoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-BoldItalic.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-Regular.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/openSans/woff2/OpenSansCondensed-Bold.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-Bold.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-SemiBold.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/openSans/woff/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/openSans/woff/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-SemiBoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/openSans/woff/OpenSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-SemiBoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-SemiBoldItalic.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-Regular.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/woff2/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/openSans/woff/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../fonts/openSans/woff2/OpenSansSemiCondensed-BoldItalic.woff2')
      format('woff2'),
    url('../fonts/openSans/woff/OpenSansSemiCondensed-BoldItalic.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* poppins*/
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/woff2/Poppins-BoldItalic.woff2') format('woff2'),
    url('../fonts/poppins/woff/Poppins-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/woff2/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/poppins/woff/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ----------------------------------------- */
/* variables */
:root {
  /* fonts */
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans Condensed', sans-serif;
  --font-tertiary: 'Open Sans SemiCondensed', sans-serif;
  --font-quaternary: 'Poppins', sans-serif;

  /* variante open sans */
  --font-primary-bold: 'Open Sans', sans-serif;
  --font-primary-italic: 'Open Sans', sans-serif;
  --font-secondary-bold: 'Open Sans Condensed', sans-serif;
  --font-secondary-italic: 'Open Sans Condensed', sans-serif;
  --font-tertiary-bold: 'Open Sans SemiCondensed', sans-serif;
  --font-tertiary-italic: 'Open Sans SemiCondensed', sans-serif;
  /* Variantes de Poppins */
  --font-poppins-bold: 'Poppins', sans-serif;
  --font-poppins-bold-italic: 'Poppins', sans-serif;

  /* colors */
  --color-primary: hsl(322, 100%, 66%);
  --color-secondary: hsl(321, 100%, 78%);
  --color-tertiary: hsl(0, 100%, 63%);
  --color-quaternary: hsl(192, 100%, 9%);
  --color-quinary: hsl(207, 100%, 98%);
}
/* ---------------------------------------------- */
h1,
h2,
h3 {
  font-family: var(--font-poppins-bold);
  font-weight: 700;
  color: var(--color-quaternary);
}

body {
  max-width: 1440px;
  margin: auto;
}

img {
  object-fit: cover;
}

.header,
.main {
  font-family: var(--font-primary);
}

.button {
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px 25px;
  cursor: pointer;
  box-shadow: 0px 4px 10px -7px var(--color-quaternary);
  transition: background-color 0.3s ease;
}

/*--------------------- header --------------------------*/

.header {
  margin: 70px 110px 200px 110px;
  display: flex;
  justify-content: space-between;
}

.button--primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: none;
  transition: border 0.3s ease;
}

.button--primary:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

/*------------------------ main -------------------------*/

/*-------------------- main-content ---------------------*/
.main-content {
  margin-top: 150px;
}

.main-content__title {
  font-size: 45px;
  text-align: center;
}

.main-content__description {
  width: 38%;
  margin: 20px auto;
  text-align: center;
}

.button--cta {
  font-weight: 700;
  display: block;
  margin: 40px auto;
  border: none;
  color: white;
  background-color: var(--color-primary);
  border-radius: 50px;
  padding: 20px 80px;
}

.button--cta:hover {
  background-color: var(--color-secondary);
}

.main-content__illustration {
  display: block;
  margin: 85px auto;
  width: 67%;
  height: auto;
}
/*----------------------- stats ---------------------------- */
.stats {
  margin: 100px 110px 200px 110px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.stats__number {
  color: var(--color-quaternary);
  font-weight: 700;
  font-size: 65px;
}

.stats__label {
  color: rgb(116 116 116);
  text-align: center;
}

.stats__item img {
  height: auto;
  width: 35px;
  fill: red;
}

/*----------------------- features ---------------------------- */

.features__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
}

.features__item--grey {
  background-color: var(--color-quinary);
}

.features__picture {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.features__picture--top {
  top: 2px;
}
.features__picture--bot {
  bottom: 2px;
}

.features__item--marge {
  margin: 200px 0;
}

.features__item--reverse {
  flex-direction: row-reverse;
}

.features__text {
  width: 50%;
  padding: 0px 120px 0px 40px;
}

.features__text--reverse {
  padding: 0px 40px 0px 120px;
}

.features__title {
  font-size: 40px;
}

.feature__img__content {
  width: 50%;
  display: flex;
  justify-content: right;
}

.feature__img__content--inverse {
  justify-content: left;
}

.feature__img_item {
  width: 75%;
  height: auto;
  padding-right: 40px;
}
.feature__img_item--inverse {
  padding-left: 40px;
  padding-right: 0px;
}
/*----------------------- cta ---------------------------- */
.cta {
  margin: 200px 110px;
}

.cta-title {
  font-size: 40px;
  text-align: center;
}
/*----------------------- footer ---------------------------- */
.footer {
  display: flex;
  flex-direction: column;
}

.footer__deco {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  top: 2px;
}

.footer__box {
  font-family: var(--font-primary);
  background-color: var(--color-quaternary);
  color: white;
  display: flex;
  flex-direction: row;
}

/* infos */
.footer__info {
  margin: 70px 0px 70px 110px;
  width: 50%;
}

.footer__logo {
  filter: grayscale(100%) brightness(1000%);
  margin-bottom: 25px;
}

.footer__info__text {
  width: 60%;
  line-height: 26px;
}

.footer__contact {
  margin: 25px 0 25px 0;
}

.footer__contact__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px;
}

.footer__contact__content img {
  width: 20px;
  height: auto;
}

/* social */
.footer__socials {
  margin-left: -4px;
  margin-top: 70px;
}

.footer__socials img {
  transition: filter 0.3s ease;
  text-align: left;
}

.footer__socials img:hover {
  filter: invert(100%);
}

/* newletter  */
.footer__newsletter {
  width: 50%;
  margin: 70px 110px 70px 0px;
}

.footer__newsletter__title {
  color: white;
  font-size: 35px;
  font-family: var(--font-primary);
  font-weight: 600;
  margin-bottom: 25px;
}

.footer__newsletter__text {
  width: 60%;
  line-height: 26px;
}

.footer__newsletter form {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 60%;
}

.footer__newsletter input {
  background-color: white;
  border-radius: 5px;
  min-width: 80%;
  height: 50px;
}

.button--subscribe {
  font-weight: 700;
  display: block;
  border: none;
  color: white;
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 10px 60px;
  height: 50px;
}

@media (max-width: 1280px) {
  .footer__newsletter form {
    flex-direction: column;
    align-items: start;
  }

  .footer__newsletter input {
    min-width: 100%;
  }

  .button--subscribe {
    align-self: self-end;
  }
}

@media (max-width: 1024px) {
  /* header */
  .header {
    margin: 20px;
    align-items: center;
  }

  .header__logo img {
    max-width: 120px;
    height: auto;
  }

  .button--primary {
    padding: 5px 10px;
  }
  /* main */
  .main-content {
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .main-content__title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .main-content__description {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .button--cta {
    padding: 10px 40px;
    /* margin: 40px auto; */
    text-align: center;
  }

  .main-content__illustration {
    width: 100%;
  }

  /* stats */
  .stats {
    flex-direction: column;
    align-items: center;
    margin: 80px 40px;
    gap: 80px;
  }
  .stats__item {
    text-align: center;
  }

  .stats__item img {
    margin-right: 100px;
  }
  .stats__number {
    font-size: 50px;
  }

  /* features */
  .features__item {
    flex-direction: column-reverse;
    padding: 10px 20px;
  }

  .feature__img_item {
    width: 100%;
    padding-right: 0px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__text {
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 14px;
  }
  .feature__img_item--inverse {
    padding: 0;
  }

  .features__item--marge {
    margin: 120px 0;
  }

  /* cta */
  .cta {
    margin: 120px 40px;
  }

  .cta-title {
    font-size: 22px;
  }

  /* footer */

  .footer__box {
    flex-direction: column-reverse;
  }

  .footer__newsletter {
    width: 100%;
    margin: 0px;
    padding: 40px 20px;
  }

  .footer__newsletter__title {
    font-size: 20px;
  }

  .footer__newsletter form {
    width: 100%;
  }
  .footer__newsletter__text {
    width: 100%;
    line-height: 26px;
    font-size: 14px;
  }

  .footer__newsletter input {
    width: 100%;
  }
  .button--subscribe {
    padding: 10px 40px;
  }

  .footer__info {
    width: 100%;
    margin: 0px;
    padding: 20px;
  }
  .footer__contact__content {
    margin-bottom: 15px;
    gap: 10px;
    font-size: 14px;
  }

  .footer__logo {
    max-width: 140px;
    height: auto;
  }

  .footer__info__text {
    width: 100%;
    font-size: 14px;
  }

  .footer__socials {
    margin-left: -4px;
    margin-top: 40px;
  }
  .footer__socials img {
    width: 40px;
    height: auto;
  }
}
